@font-face {
    font-family: 'GTWalsheimPro';
    src: url('/font/GTWalsheimPro-Bold.ttf')  format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'GTWalsheimPro';
    src: url('/font/GTWalsheimPro-Medium.ttf')  format('truetype');
    font-weight: medium;
}
@font-face {
    font-family: 'GTWalsheimPro';
    src: url('/font/GTWalsheimPro-Regular.ttf')  format('truetype');
    font-weight: 'regular';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'GTWalsheimPro';
    background: #F0F6FB;
}
.container{
    max-width: 90%;
    margin: 30px auto;
    max-height: 60vh;
}
.nav-left, .nav-right a{
    display: none;
}
.nav-right img{
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.showNav{
    display: block;
    flex-direction: column;
    ul {
       display: flex;
       flex-direction: column;
      
    }
    li{
        padding-bottom: 10px;
        list-style: none;
        
        a{
            text-decoration: none;
            color: #000000;
        }
    }
}

nav{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.brand-name, .hero-text{
    color: #555555;
}
.brand-name{
    font-weight: bold;
    font-size: 20px;
}
.hero-section{
    width: 100%;
    position: relative;
    display: flex;
    margin-top: 30vw ;
}

.hero-text{
    text-align: center;
}
.hero-text p:nth-of-type(1){
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    text-align: center;
    margin-bottom: 10px;
}

.hero-text p:nth-of-type(2){
    font-weight: 'regular';
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
}

.hero-text button{
    width: 120px;
    height: 35px;
    border: none;
    background: #C2642E;
    border-radius: 2px;
}

.hero-text button a{
    text-decoration: none;
    color: #F0F6FB;
    font-weight: medium;
    font-family: 'GTWalsheimPro';
}

.hero{
   display: none
}


@media screen and (min-width: 610px){
    .hero-text{
        width: 50%;
        text-align: left;
        p:nth-of-type(1), p:nth-of-type(2){
            text-align: left;
        }
    }

    .hero{
        display: block;
        width: 50%;
        margin-top: 0%;
        margin-left: 20%;
        img{
            width: 100% ;
            margin: 0 auto;
            display: block;
        }
    }
}

@media screen and (min-width: 899px){
    .nav-right{
        
        display: flex;
        justify-content: space-between;
        a{
            padding-right: 20px;
            display: block;
            cursor: pointer;
            text-decoration: none;
            color: #000000;
        }
    }
    .hero-section{
        margin-top: 25%;
    }
    .hero{
        margin-left: 25vw;
    }

    .hero-text p:nth-of-type(1){
        font-size: 60px;
        line-height: 75px;
        margin-bottom: 6px;
    }

}

@media screen and (min-width: 1126px){
    .nav-left{
        display: block;
        
        ul{
            list-style: none;
            display: flex;
            justify-content: space-between;
            li{
                padding-right: 10px;
            }
            li a{
                text-decoration: none;
                color: #000000;
                font-size: 14px;
            }
        }
    }
    .hero{
        margin-left: 30vw;
    }
    .brand-name{
        justify-content: center;
        p{
            text-align: center;
            margin-right: 120px;
        }
        
    }
    .hero{
        position: relative;
        display: inline-block;
        justify-content: right;
        img{
            width: 80%;
            justify-content: right;
            
        }
    }
}

@media screen and (min-width: 1152px){

    .hero-text p:nth-of-type(1){
        font-size: 68px;
        line-height: 88px;
    }
    .hero-section{
        margin-top: 20% ;
    }
    .brand-name p{
        font-size: 25px;
       
    }
    }
    .nav-left{
        ul li{
            padding-right: 25px;
        }
    
    .hero{
        margin-left: 2vw;
    }
}

@media screen and (min-width: 1152px){
   .hero-section{
       margin-top: 15%;
   }
   .hero-text p:nth-of-type(1){
       font-size: 70px;
   }
   .hero-text p:nth-of-type(2){
       font-size: 15px;
       line-height: 25px;
       margin-bottom: 30px;
   }
   .hero{
       width: 70vw;
       height: 70vh;
       margin-right: 0;
       img{
        width: 140%;
        height: 71%;
        margin-right: 0;
       }
   }
   .hero-text button{
       width: 150px;
       height: 40px;
       
       a{
           font-size: 16px;
       }
   }
}